@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #0f172a;
    --color-secondary: #6b21a8;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #f8fafc;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  p {
    margin: 1rem 0;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    line-height: 2;
  }
  
  h1,
  h2,
  h3 {
    line-height: 1.2;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
  }
  
  .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background: #333;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  
  .logos-small {
    display: none;
  }
  
  /* Page Content */
  .page-content {
    margin: 20px 0;
  }
  
  .page-content h2,
  .page-content h3 {
    margin: 20px 0;
  }
  
  .page-content h2 {
    font-size: 40px;
  }
  
  .page-content h3 {
    font-size: 25px;
  }
  
  /* Make the long logo disappears when the screen is shrinked and make the short logo appears */
  @media (max-width: 960px) {
    .logos-small {
      display: block;
      margin: auto;
    }
    .logos {
      display: none;
    }
  }

  @media (max-width: 700px) {
    h1,
    h2 {
      text-align: center;
    }
  }


  /* Toggle button Sun/Moon */
  label {
    width:58px;
    height:30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.3), inset 0px -5px 15px rgba(255,255,255,0.3);
    cursor: pointer;
  }

  label:after {
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    top:2px;
    left:4px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
  input {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  /* input:checked + label {
    background: #242424;
  } */
  input:checked + label:after {
    left:54px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,var(--color-secondary),var(--color-primary));
  }
  
  label, label:after {
    transition: 0.3s
  }

  input:checked + label + .background {
    background:#242424;
  }