---
import logos from '../images/framework-logos.png'
import logoSmall from '../images/framework-logos-small.png'

export interface Props {
    heading?: string;
    text?: string;
    showExtra?: boolean;
}

const { heading = "Welcome to TextifyPDF - Your Ultimate PDF Conversion Solution!", 
        text ="Experience the weightless transformation of your PDFs into interstellar text marvels with TextifyPDF. Watch as your documents gracefully navigate the cosmic currents of the web with out TextifyPDF transcends earthly constraints, converting your PDFs into cosmic text wonders. The conversion shines brightly across the vast expanse of your HTML-first universe.",
        showExtra = false
      } = Astro.props as Props;
---

<section class="showcase">
    <div class="showcase-text">
        <h1>{ heading }</h1>
        <p>
            { text }
        </p>
    </div>
   
    {showExtra && <>
        <div class="showcase-img">
        <img class="logos" src={logos.src} alt="">
        <img class="logos-small" src={logoSmall.src} alt="">
        </div>

        <p class="showcase-demo">
            <small>This is a demo website used for the Youtube crash course</small>
        </p>
    </>}

    
</section>

<style>
    .showcase {
        height: auto;
        background-color: var(--color-secondary);
        background-image: linear-gradient(to bottom, var(--color-primary), rgb(15 23 42 / 0));
        padding: 30px;
    }

    .showcase-blog {
        min-height: 300px;
    }

    .showcase-text {
        /* determine how much width will the text take up at any scale */
        max-width: 900px;
        color: #fff;
        text-align: center;
        margin: 50px auto;
    }

    .showcase h1 {
        font-size: 40px;
        color: #fff;
        margin-bottom: 20px;
    }

    @media (max-width: 760px) {
        .showcase-text {
            max-width: 480px;
            color: #fff;
            text-align: center;
            margin: 50px auto;
        }

        .showcase p {
            margin-bottom: 20px;
            margin: 0 15px;
            font-size: 18px;
        }
    }

    .showcase p {
        font-size: 22px;
        margin: 0 15px;
        margin-bottom: 20px;
    }

    .showcase-img {
        text-align: center; 
    }

    .showcase-img img {
        border-radius: 10px;
        margin: auto;
    }

    .showcase-demo {
        color: #fff;
        text-align: center;
        font-weight: 300;
    }
</style>